.game_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &.green {
    background-color: #ccffe4;
  }

  &.blue {
    background-color: #cce6ff;
  }

  &.red {
    background-color: #ffcccc;
  }

  &.yellow {
    background-color: #fff9cc;
  }

  .info_block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    svg {
      width: 40px;
      height: 40px;
      fill: #878787;
      transition: 1s;
      margin: 0 20px;
      user-select: none;
      cursor: default;

      border: 2px solid #878787;
      padding: 4px;
      border-radius: 35%;
    }

    //.click_btn {
    //
    //}
    //.rotate_btn {
    //
    //}
    .reset_btn {
      fill: #ff6768;
      border: none;
      cursor: pointer;
      margin-top: 36px;
    }

    .on {
      fill: white;
      border: 2px solid white;
    }
  }
}

.game_board {
  background-color: #878787;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: min(16px, 2vh, 2vw);
  padding: min(36px, 4vh, 4vw);
  border-radius: 36px;

  .block {
    background-color: #c4c4c4;
    border-radius: 16%;
    padding: min(4px, 1vh, 1vw);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

    .point {
      width: min(6vh, 6vw, 65px);
      height: min(6vh, 6vw, 65px);
      background-color: #878787;
      border-radius: 50%;
      margin: min(4px, 1vh, 1vw);

      &:hover:not(.green):not(.blue):not(.red):not(.yellow):not(.without) {
        border: 2px dashed #646464;
        cursor: pointer;
      }

      &.green {
        background-color: #28cc75;
        cursor: default;
      }

      &.blue {
        background-color: #298eea;
        cursor: default;
      }

      &.red {
        background-color: #ff6768;
        cursor: default;
      }

      &.yellow {
        background-color: #feee7d;
        cursor: default;
      }
    }

    .rotate_block {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;

      .rotate_btn {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;

        svg {
          width: 40px;
          height: 40px;
          fill: #646464;
          transition: 1s;
          user-select: none;
          display: none;
        }

        &:hover svg {
          display: unset;
        }

        &:nth-of-type(1) svg {
          margin: 15% auto 0 15%;
        }
        &:nth-of-type(2) svg {
          margin: 15% 15% 0 auto;
        }
      }
    }
  }
}
