.header_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;

  .title {
    font-size: 2.5rem;
    color: #646464;
    user-select: none;
    cursor: pointer;
  }

  &.green {
    background-color: #ccffe4;
  }

  &.blue {
    background-color: #cce6ff;
  }

  &.red {
    background-color: #ffcccc;
  }

  &.yellow {
    background-color: #fff9cc;
  }

  .players_list {
    display: flex;
  }
  .player_item {
    width: min(6vh, 6vw, 65px);
    height: min(6vh, 6vw, 65px);
    border-radius: 50%;
    margin: min(4px, 1vh, 1vw);

    &.green {
      background-color: #28cc75;
    }

    &.blue {
      background-color: #298eea;
    }

    &.red {
      background-color: #ff6768;
    }

    &.yellow {
      background-color: #feee7d;
    }
  }
}
